*{
    border: 1px solid black;
}

html{
    background-color: #ffffff;
}

body{
    background-color: #000000;
    width:485px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
   font-size: 3em; 
   color:#007d7b;
   text-align: center;
   margin-top: 0px;
 
   
   

}
#topTitle{
    background-color: #ffffff;
    margin-top:0;
    margin-left: 40px;
    padding:0px;
    width: 400px;
    height:60px;
   
}